<!DOCTYPE html>
<html lang="es" ng-app="Editor">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>DocCollab</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="libs/pdf.min.js"></script>
    <script src="libs/rangy-core.min.js"></script>
    <script src="libs/rangy-classapplier.min.js"></script>
    <script src="libs/rangy-serializer.min.js"></script>
    <script src="libs/textlayerbuilder.js"></script>
    <script src="libs/angular.min.js"></script>
    <script src="libs/angular-ui-tree.min.js"></script>
    <script src="libs/angular-timer.min.js"></script>
    <script src="libs/socket.min.js"></script>
    <script src="libs/angular-ui-notification.min.js"></script>
    <script src="js/editor-ctrl.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="libs/ui-bootstrap-tpls-1.1.2.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/minimal.css">
    <link rel="stylesheet" href="css/angular-ui-tree.min.css">
    <link rel="stylesheet" href="css/angular-ui-notification.min.css">
    <link rel="stylesheet" href="css/main.css"/>

    <!-- RZSLIDER -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/6.4.3/rzslider.css"/>
    <link rel="stylesheet" href="css/xeditable.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/6.4.3/rzslider.js"></script>
    <script src="/libs/xeditable.js"></script>

    <!-- RZSLIDER -->
</head>
<body class="bck-reading-ideas">

<div class="editor-container container bg-white box-shadow-css" ng-controller="EditorController">
    <div class="row background-header-student">
        <span class="pull-right">{{user_information.mail}}</span>
    </div>
    <div class="row top-bar-mini">
        <div class="text-center margin-t-p">
            <a onclick="window.history.back()" class="btn btn-sm btn-default pull-left bg-principal">Atrás</a>
            <span ng-repeat="st in sesStatusses">
                <span class="statuses-content label label-primary" ng-class="{'label-warning': $index==iteration}" ng-bind="st"></span>
                <!--<span ng-hide="$last">→</span>-->
            </span>
            <button ng-hide="iteration==3" class="btn btn-sm btn-default pull-right border-button" ng-click="finishState()" ng-class="{'btn-success': hasFinished || finished}">
                    <i class="fa fa-check"></i> Continuar</button>
            <button ng-show="iteration==3 && !followLeader && !finishTheSecondTime && !current_waiting_partners_by_team" ng-disabled="finishTheFirstTime" class="btn btn-sm btn-default pull-right border-button" ng-click="sendToPartners(sesId)" ng-class="{'btn-success': hasFinished || finished}">
                <i class="fa fa-check"></i> Enviar a compañero
            </button>
            <button ng-show="iteration==3 && followLeader && current_waiting_partners_by_team && current_iteration_by_team != 2 && !current_final_response_by_team" class="btn btn-sm btn-default pull-right border-button" ng-click="sendFirstCommentary(sesId)" ng-class="{'btn-success': hasFinished || finished}">
                <i class="fa fa-check"></i> Enviar comentario
            </button>
            <button ng-show="iteration==3 && followLeader && current_waiting_partners_by_team && current_iteration_by_team == 2 && !current_final_response_by_team" class="btn btn-sm btn-default pull-right border-button" ng-click="sendSecondCommentary(sesId)" ng-class="{'btn-success': hasFinished || finished}">
                <i class="fa fa-check"></i> Enviar comentario
            </button>
            <select ng-show="!followLeader && !finishTheSecondTime && finishTheFirstTime && !current_final_response_by_team" ng-options="x for x in option_first_time" ng-model="item" ng-change="updateThisThing(item,sesId)"></select>
            <select ng-show="!followLeader && finishTheSecondTime && !current_final_response_by_team" ng-options="x for x in option_second_time" ng-model="item" ng-change="updateThisThing(item,sesId)"></select>
            <button ng-show="current_final_response_by_team && followLeader && !user_is_done" class="btn btn-sm btn-default pull-right border-button" ng-click="finishGroupTask(final_response_value, sesId)" ng-class="{'btn-success': hasFinished || finished}">
                    <i class="fa fa-check"></i> Continuar</button>
            <button ng-show="iteration==3 && quantityUsersInGroup > 0 && finalResponseFinished > 0 && (quantityUsersInGroup == finalResponseFinished)" class="btn btn-sm btn-default pull-right border-button" ng-click="finishState()" ng-class="{'btn-success': hasFinished || finished}">
                    <i class="fa fa-check"></i> Continuar</button>
        </div>
    </div>

    <div class="margin-t-p">
        <div class="top-bar">
            <div class="col-sm-6 col-md-6">
                <!-- <button ng-click="openNewSes()" class="btn btn-sm btn-default bg-principal"><i class="fa fa-info fa-information-button"></i></button> -->
                <strong ng-show="iteration==0" class="letter-color-title simple-margin-left">Fase Lectura</strong>
                <strong ng-show="iteration==1" class="letter-color-title simple-margin-left">Fase Individual</strong>
                <strong class="letter-color-title simple-margin-left">Factor detonante: </strong>
                <span ng-bind="sesDescr"></span>
                <span ng-show="iteration==0" class="letter-color-title simple-margin-left">
                    Documentos: 
                </span>
                <span ng-show="iteration==0" ng-repeat="doc in documents" class="side-top-btn" ng-bind="doc.title" ng-class="{'active': $index==selectedDocument}" ng-click="selectPDF($index)">
                    
                </span>
            </div>
            <div class="col-sm-6 col-md-6">
                <span class="pull-right margin-right-24" ng-show="sesSTime != null">
                    <timer start-time="sesSTime">{{hours}}h {{minutes}}m {{seconds}}s</timer>
                </span>
                <span class="pull-right boxed" ng-bind="teamstr"></span>
            </div>
        </div>
    </div>

    <div class="row" ng-show="iteration==3">
        <div class="container" ng-show="followLeader && !current_waiting_partners_by_team && current_iteration_by_team == 0">
            <div class="col-md-12">
                <label class="letter-color-title">Esperando la respuesta de tu compañero(a) de grupo</label>
            </div>
            <div class="col-md-12">
                <strong>
                    <i class="fa fa-clock-o fa-5" aria-hidden="true"></i>
                    <span>Uno de tuscompañeros está generando una respuesta grupal. Una vez que la comparta contigo podrárealizar tus comentarios.</span>
                </strong>
            </div>
        </div>
        <div ng-if="current_waiting_partners_by_team && followLeader && current_iteration_by_team != 2 && !current_final_response_by_team && current_iteration_by_team == 1">
            <div class="col-md-12">
                <label class="letter-color-title">Respuesta grupal propuestaa</label>
            </div>
            <div class="container">
                <div ng-repeat="item in leaderTasks" 
                    dnd-list-id="{{item.id}}" 
                    dnd-draggable="item" 
                    dnd-moved="Sorting($index)"
                    dnd-effect-allowed="move"
                    dnd-selected="models.selected = item"
                    ng-class="{'selected': models.selected === item}">
                    <div class="col-md-12 col-xs-12 pad-border pad-color margin-t-a-b">
                        <div class="row">
                            <div class="col-md-6 col-xs-6">
                            <i class="fa fa-align-justify mini-m-l cursor-p" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="row margin-t-a-b">
                            <div class="col-md-6 col-xs-6">
                                <div class="col-md-12 col-xs-12">
                                    Valoración:
                                </div>
                                <div class="col-md-2 col-xs-2">
                                    <button ng-disabled="current_waiting_partners_by_team" class="btn btn-default xeditable-input-change ellipsis-xeditable" href="" editable-text="item.min_name">{{ item.min_name || 'empty' }}</button>
                                </div>
                                <div class="col-md-8 col-xs-8">
                                    <rzslider rz-slider-model="item.value" rz-slider-options="{floor: 0, ceil: 10,id: $index, showTicksValues: true, onEnd: processItem, disabled: true}"></rzslider>
                                </div>
                                <div class="col-md-2 col-xs-2">
                                    <button ng-disabled="current_waiting_partners_by_team" class="btn btn-default xeditable-input-change ellipsis-xeditable" href="" editable-text="item.max_name">{{ item.max_name || 'empty' }}</button>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-6">
                                <div class="col-md-12 col-xs-12">
                                    Comentario:
                                </div>
                                <div class="col-md-12 col-xs-12">
                                    <textarea ng-disabled="current_waiting_partners_by_team" rows="5" class="text-area-input" ng-model="item.description" ng-model="self.class">{{item.description}}</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <label class="letter-color-title">Respuestas personalesx</label>
            </div>
            <div class="container">
                <div ng-repeat="item in personalEvaluationFirstIteration" 
                    dnd-list-id="{{item.id}}" 
                    dnd-draggable="item" 
                    dnd-moved="Sorting($index)"
                    dnd-effect-allowed="move"
                    dnd-selected="models.selected = item"
                    ng-class="{'selected': models.selected === item}">
                    <div class="col-md-12 col-xs-12 pad-border pad-color margin-t-a-b">
                        <div class="row">
                            <div class="col-md-6 col-xs-6">
                            <i class="fa fa-align-justify mini-m-l cursor-p" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="row margin-t-a-b">
                            <div class="col-md-6 col-xs-6">
                                <div class="col-md-12 col-xs-12">
                                    Valoración:
                                </div>
                                <div class="col-md-2 col-xs-2">
                                    <button ng-disabled="true" class="btn btn-default xeditable-input-change ellipsis-xeditable" href="" editable-text="item.min_name">{{ item.min_name || 'empty' }}</button>
                                </div>
                                <div class="col-md-8 col-xs-8">
                                    <rzslider rz-slider-model="item.value" rz-slider-options="{floor: 0, ceil: 10,id: $index, showTicksValues: true, onEnd: processItem, disabled: true}"></rzslider>
                                </div>
                                <div class="col-md-2 col-xs-2">
                                    <button ng-disabled="true" class="btn btn-default xeditable-input-change ellipsis-xeditable" href="" editable-text="item.max_name">{{ item.max_name || 'empty' }}</button>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-6">
                                <div class="col-md-12 col-xs-12">
                                    Comentario:
                                </div>
                                <div class="col-md-12 col-xs-12">
                                    <textarea rows="5" class="text-area-input" ng-model="item.description" ng-model="self.class" ng-change="updateSemanticDifferentialUser($index)">{{item.description}}</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <hr>
            </div>
            <div class="col-md-12">
                <label class="letter-color-title">Ronda {{current_iteration_by_team}}: Tu comentario</label>
            </div>
            <div class="col-md-12">
                <textarea rows="5" class="text-area-input" ng-model="firstIterationComment.comment" ng-change="updateFirstIterationComment(firstIterationComment.id, firstIterationComment.comment)">{{firstIterationComment.comment}}</textarea>
            </div>
        </div>
        <div class="col-md-12" ng-if="current_waiting_partners_by_team && followLeader && current_iteration_by_team == 2 && !current_final_response_by_team">
            <div class="col-md-12">
                <label class="letter-color-title">Respuesta grupal propuesta</label>
            </div>
            <div class="container">
                <div ng-repeat="item in leaderTasksSecondIteration" 
                    dnd-list-id="{{item.id}}" 
                    dnd-draggable="item" 
                    dnd-moved="Sorting($index)"
                    dnd-effect-allowed="move"
                    dnd-selected="models.selected = item"
                    ng-class="{'selected': models.selected === item}">
                    <div class="col-md-12 col-xs-12 pad-border pad-color margin-t-a-b">
                        <div class="row">
                            <div class="col-md-6 col-xs-6">
                            <i class="fa fa-align-justify mini-m-l cursor-p" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="row margin-t-a-b">
                            <div class="col-md-6 col-xs-6">
                                <div class="col-md-12 col-xs-12">
                                    Valoración:
                                </div>
                                <div class="col-md-2 col-xs-2">
                                    <button ng-disabled="current_waiting_partners_by_team" class="btn btn-default xeditable-input-change ellipsis-xeditable" href="" editable-text="item.min_name">{{ item.min_name || 'empty' }}</button>
                                </div>
                                <div class="col-md-8 col-xs-8">
                                    <rzslider rz-slider-model="item.value" rz-slider-options="{floor: 0, ceil: 10,id: $index, showTicksValues: true, onEnd: processItem, disabled: true}"></rzslider>
                                </div>
                                <div class="col-md-2 col-xs-2">
                                    <button ng-disabled="current_waiting_partners_by_team" class="btn btn-default xeditable-input-change ellipsis-xeditable" href="" editable-text="item.max_name">{{ item.max_name || 'empty' }}</button>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-6">
                                <div class="col-md-12 col-xs-12">
                                    Comentario:
                                </div>
                                <div class="col-md-12 col-xs-12">
                                    <textarea ng-disabled="current_waiting_partners_by_team" rows="5" class="text-area-input" ng-model="item.description" ng-model="self.class">{{item.description}}</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <label class="letter-color-title">Respuestas personalesxx</label>
            </div>
            <div class="container">
                <div ng-repeat="item in personalEvaluationSecondIteration" 
                    dnd-list-id="{{item.id}}" 
                    dnd-draggable="item" 
                    dnd-moved="Sorting($index)"
                    dnd-effect-allowed="move"
                    dnd-selected="models.selected = item"
                    ng-class="{'selected': models.selected === item}">
                    <div class="col-md-12 col-xs-12 pad-border pad-color margin-t-a-b">
                        <div class="row">
                            <div class="col-md-6 col-xs-6">
                            <i class="fa fa-align-justify mini-m-l cursor-p" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="row margin-t-a-b">
                            <div class="col-md-6 col-xs-6">
                                <div class="col-md-12 col-xs-12">
                                    Valoración:
                                </div>
                                <div class="col-md-2 col-xs-2">
                                    <button ng-disabled="true" class="btn btn-default xeditable-input-change ellipsis-xeditable" href="" editable-text="item.min_name">{{ item.min_name || 'empty' }}</button>
                                </div>
                                <div class="col-md-8 col-xs-8">
                                    <rzslider rz-slider-model="item.value" rz-slider-options="{floor: 0, ceil: 10,id: $index, showTicksValues: true, onEnd: processItem, disabled: true}"></rzslider>
                                </div>
                                <div class="col-md-2 col-xs-2">
                                    <button ng-disabled="true" class="btn btn-default xeditable-input-change ellipsis-xeditable" href="" editable-text="item.max_name">{{ item.max_name || 'empty' }}</button>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-6">
                                <div class="col-md-12 col-xs-12">
                                    Comentario:
                                </div>
                                <div class="col-md-12 col-xs-12">
                                    <textarea rows="5" class="text-area-input" ng-model="item.description" ng-model="self.class" ng-change="updateSemanticDifferentialUser($index)">{{item.description}}</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <hr>
            </div>
            <div class="col-md-12">
                <label class="letter-color-title">Ronda {{current_iteration_by_team}}: Tu comentariox</label>
            </div>
            <div class="col-md-12">
                <textarea rows="5" class="text-area-input" ng-model="secondIterationComment.comment" ng-change="updateSecondIterationComment(secondIterationComment.id, secondIterationComment.comment)">{{secondtIterationComment.comment}}</textarea>
            </div>
        </div>
        <div class="container" ng-if="!followLeader && !current_waiting_partners_by_team && current_iteration_by_team == 0">
            <div class="col-md-12">
                <label class="letter-color-title">Elige respuesta grupal</label>
            </div>
            <div ng-repeat="item in leaderTasks" 
                dnd-list-id="{{item.id}}" 
                dnd-draggable="item" 
                dnd-moved="Sorting($index)"
                dnd-effect-allowed="move"
                dnd-selected="models.selected = item"
                ng-class="{'selected': models.selected === item}">
                <div class="col-md-12 col-xs-12 pad-border pad-color margin-t-a-b">
                    <div class="row">
                        <div class="col-md-6 col-xs-6">
                        <i class="fa fa-align-justify mini-m-l cursor-p" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="row margin-t-a-b">
                        <div class="col-md-6 col-xs-6">
                            <div class="col-md-12 col-xs-12">
                                Valoración:
                            </div>
                            <div class="col-md-2 col-xs-2">
                                <button class="btn btn-default xeditable-input-change ellipsis-xeditable" href="" editable-text="item.min_name" onbeforesave="updateSemanticDifferentialFirstIteration($index)">{{ item.min_name || 'empty' }}</button>
                            </div>
                            <div class="col-md-8 col-xs-8">
                                <rzslider rz-slider-model="item.value" rz-slider-options="{floor: 0, ceil: 10,id: $index, showTicksValues: true, onEnd: processItemFirstIteration}"></rzslider>
                            </div>
                            <div class="col-md-2 col-xs-2">
                                <button class="btn btn-default xeditable-input-change ellipsis-xeditable" href="" editable-text="item.max_name" onbeforesave="updateSemanticDifferentialFirstIteration($index)">{{ item.max_name || 'empty' }}</button>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-6">
                            <div class="col-md-12 col-xs-12">
                                Comentario:
                            </div>
                            <div class="col-md-12 col-xs-12">
                                <textarea rows="5" class="text-area-input" ng-model="item.description" ng-model="self.class" ng-change="updateSemanticDifferentialUser($index)">{{item.description}}</textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <label class="letter-color-title">Respuestas Personales000</label>
            </div>
            <div ng-repeat="item in personalEvaluationFirstIteration" 
                dnd-list-id="{{item.id}}" 
                dnd-draggable="item" 
                dnd-moved="Sorting($index)"
                dnd-effect-allowed="move"
                dnd-selected="models.selected = item"
                ng-class="{'selected': models.selected === item}">
                <div class="col-md-12 col-xs-12 pad-border pad-color margin-t-a-b">
                    <div class="row">
                        <div class="col-md-6 col-xs-6">
                        <i class="fa fa-align-justify mini-m-l cursor-p" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="row margin-t-a-b">
                        <div class="col-md-6 col-xs-6">
                            <div class="col-md-12 col-xs-12">
                                Valoración:
                            </div>
                            <div class="col-md-2 col-xs-2">
                                <button class="btn btn-default xeditable-input-change ellipsis-xeditable" href="" editable-text="item.min_name" onbeforesave="updateSemanticDifferentialUser($index)">{{ item.min_name || 'empty' }}</button>
                            </div>
                            <div class="col-md-8 col-xs-8">
                                <rzslider rz-slider-model="item.value" rz-slider-options="{floor: 0, ceil: 10,id: $index, showTicksValues: true, onEnd: processItem}"></rzslider>
                            </div>
                            <div class="col-md-2 col-xs-2">
                                <button class="btn btn-default xeditable-input-change ellipsis-xeditable" href="" editable-text="item.max_name" onbeforesave="updateSemanticDifferentialUser($index)">{{ item.max_name || 'empty' }}</button>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-6">
                            <div class="col-md-12 col-xs-12">
                                Comentario:
                            </div>
                            <div class="col-md-12 col-xs-12">
                                <textarea rows="5" class="text-area-input" ng-model="item.description" ng-model="self.class" ng-change="updateSemanticDifferentialUser($index)">{{item.description}}</textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12" style="margin-top: 30px;">
                <hr class="style-seven">
            </div>
            <div class="col-md-12">
                <label class="letter-color-title">Respuesta promedio grupal</label>
            </div>
            <div ng-repeat="item in promGroup" 
                dnd-list-id="{{item.id}}" 
                dnd-draggable="item" 
                dnd-moved="Sorting($index)"
                dnd-disable-if="selectedSes.status!=1"
                dnd-effect-allowed="move"
                dnd-selected="models.selected = item"
                ng-class="{'selected': models.selected === item}">
                <div class="col-md-12 col-xs-12 pad-border margin-t-a-b">
                  <div class="row">
                      <div class="col-md-6 col-xs-6">
                        <i class="fa fa-align-justify mini-m-l cursor-p" aria-hidden="true"></i>
                      </div>
                      <div class="col-md-6 col-xs-6">
                      </div>
                  </div>
                  <div class="row margin-t-a-b">
                    <div class="col-md-6 col-xs-6">
                      <div class="col-md-12 col-xs-12">
                        Valoración:
                      </div>
                      <div class="col-md-2 col-xs-2">
                        <button ng-disabled="selectedSes.status!=1" class="btn btn-default xeditable-input-change ellipsis-xeditable" href="" editable-text="item.min_name" onbeforesave="updateSemanticDifferential($index)">{{ item.min_name || 'empty' }}</button>
                      </div>
                      <div class="col-md-8 col-xs-8">
                          <rzslider rz-slider-model="item.avg" rz-slider-options="{floor: 0, ceil: 10,id: $index, showTicksValues: true, disabled: selectedSes.status!=1 ? true : false}"></rzslider>
                      </div>
                      <div class="col-md-2 col-xs-2">
                        <button ng-disabled="selectedSes.status!=1" class="btn btn-default xeditable-input-change ellipsis-xeditable" href="" editable-text="item.max_name" onbeforesave="updateSemanticDifferential($index)">{{ item.max_name || 'empty' }}</button>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <div class="col-md-12">
                <label class="letter-color-title">Respuestas de compañeros</label>
            </div>
            <div ng-repeat="item in avgByGroup" 
                dnd-list-id="{{item.id}}" 
                dnd-draggable="item" 
                dnd-moved="Sorting($index)"
                dnd-disable-if="selectedSes.status!=1"
                dnd-effect-allowed="move"
                dnd-selected="models.selected = item"
                ng-class="{'selected': models.selected === item}">
                <div class="col-md-12 col-xs-12 pad-border margin-t-a-b">
                  <div class="row">
                      <div class="col-md-6 col-xs-6">
                        <i class="fa fa-align-justify mini-m-l cursor-p" aria-hidden="true"></i>
                      </div>
                      <div class="col-md-6 col-xs-6">
                      </div>
                  </div>
                  <div class="row margin-t-a-b">
                    <div class="col-md-6 col-xs-6">
                      <div class="col-md-12 col-xs-12">
                        Valoración:
                      </div>
                      <div class="col-md-2 col-xs-2">
                        <button ng-disabled="selectedSes.status!=1" class="btn btn-default xeditable-input-change ellipsis-xeditable" href="" editable-text="item.min_name" onbeforesave="updateSemanticDifferential($index)">{{ item.min_name || 'empty' }}</button>
                      </div>
                      <div class="col-md-8 col-xs-8">
                          <rzslider rz-slider-model="item.avg" rz-slider-options="{floor: 0, ceil: 10,id: $index, showTicksValues: true, disabled: selectedSes.status!=1 ? true : false}"></rzslider>
                      </div>
                      <div class="col-md-2 col-xs-2">
                        <button ng-disabled="selectedSes.status!=1" class="btn btn-default xeditable-input-change ellipsis-xeditable" href="" editable-text="item.max_name" onbeforesave="updateSemanticDifferential($index)">{{ item.max_name || 'empty' }}</button>
                      </div>
                    </div>
                    <div class="col-md-6 col-xs-6">
                        <div class="col-md-12 col-xs-12">
                            Comentario:
                        </div>
                        <div class="col-md-12 col-xs-12">
                            <textarea rows="5" class="text-area-input" ng-model="item.description" ng-model="self.class" ng-change="updateSemanticDifferentialUser($index)">{{item.description}}</textarea>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
            <hr/>
            <div class="col-md-12">
                <label class="letter-color-title">Respuestas Personales</label>
            </div>
            <div ng-repeat="item in personalEvaluationByGroup" 
                dnd-list-id="{{item.id}}" 
                dnd-draggable="item" 
                dnd-moved="Sorting($index)"
                dnd-effect-allowed="move"
                dnd-selected="models.selected = item"
                ng-class="{'selected': models.selected === item}">
                <div class="col-md-12 col-xs-12 pad-border pad-color margin-t-a-b">
                    <div class="row">
                        <div class="col-md-6 col-xs-6">
                        <i class="fa fa-align-justify mini-m-l cursor-p" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="row margin-t-a-b">
                        <div class="col-md-6 col-xs-6">
                            <div class="col-md-12 col-xs-12">
                                Valoración:
                            </div>
                            <div class="col-md-2 col-xs-2">
                                <button class="btn btn-default xeditable-input-change ellipsis-xeditable" disabled="true" href="" editable-text="item.min_name" onbeforesave="updateSemanticDifferentialUser($index)">{{ item.min_name || 'empty' }}</button>
                            </div>
                            <div class="col-md-8 col-xs-8">
                                <rzslider rz-slider-model="item.value" rz-slider-options="{floor: 0, ceil: 10,id: $index, showTicksValues: true, onEnd: processItem}"></rzslider>
                            </div>
                            <div class="col-md-2 col-xs-2">
                                <button class="btn btn-default xeditable-input-change ellipsis-xeditable" disabled="true" href="" editable-text="item.max_name" onbeforesave="updateSemanticDifferentialUser($index)">{{ item.max_name || 'empty' }}</button>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-6">
                            <div class="col-md-12 col-xs-12">
                                Comentario:
                            </div>
                            <div class="col-md-12 col-xs-12">
                                <textarea rows="5" class="text-area-input" disabled="true" ng-model="item.description" ng-model="self.class" ng-change="updateSemanticDifferentialUser($index)">{{item.description}}</textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12" ng-show="current_waiting_partners_by_team && !followLeader && !finishTheFirstTime && !current_final_response_by_team && current_iteration_by_team == 1">
            <div class="col-md-12">
                <label class="letter-color-title">Esperando comentarios de tus compañeros </label>
            </div>
            <div class="col-md-12">
                <strong>
                    <i class="fa fa-clock-o fa-5" aria-hidden="true"></i>
                    <span>
                        Tus compañeros de grupo están agregando sus comentarios sobre la respuesta grupal. Una vez que todos envíen sus comentarios, podrás leerlos y cambiar la respuesta grupal si así lo estimas conveniente.
                    </span>
                </strong>
            </div>
            <div class="col-md-12 text-center">
                    <img width="500" height="500" title="" alt="" src="https://media3.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy-preview.gif" />
            </div>
        </div>
        <div class="col-md-12" ng-show="current_final_response_by_team && !followLeader && quantityUsersInGroup > 0 && finalResponseFinished > 0 && (quantityUsersInGroup == finalResponseFinished)">
            <div class="col-md-12">
                <label class="letter-color-title">Trabajo grupal finalizado (para informar como terminada presione en "Continuar") </label>
            </div>
        </div>
        <div class="col-md-12" ng-if="current_final_response_by_team && !followLeader && quantityUsersInGroup > 0 && !finalResponseFinished > 0 && !(quantityUsersInGroup == finalResponseFinished)">
            <div class="col-md-12">
                <label class="letter-color-title">Esperando Respuesta final de tus compañeros </label>
            </div>
            <div class="col-md-12">
                <strong>
                    <i class="fa fa-clock-o fa-5" aria-hidden="true"></i>
                    <span>
                        Tus compañeros de grupo estan en la respuesta final.
                    </span>
                </strong>
            </div>
            <div class="col-md-12 text-center">
                    <img width="500" height="500" title="" alt="" src="https://media3.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy-preview.gif" />
            </div>
        </div>
        <div class="col-md-12" ng-if="finishTheFirstTime && !followLeader && current_iteration_by_team != 2 && !current_final_response_by_team">
            <div class="col-md-12">
                <label class="letter-color-title">Ronda {{current_iteration_by_team}}: Comentario de tus compañeros</label>
            </div>
            <div class="col-md-12">
                <div ng-repeat="comment in firstIterationCommentForLeader">
                    <label>Compañero: {{comment.name}}</label>
                    <textarea rows="5" class="text-area-input" ng-model="comment.comment" ng-disabled="true">{{comment.comment}}</textarea>
                </div>
            </div>
            <div class="col-md-12">
                <hr>
            </div>
            <div class="col-md-12">
                <label class="letter-color-title">Elige respuesta grupalaa</label>
            </div>
            <div class="col-md-12">
                <div ng-repeat="item in leaderTasksSecondIteration" 
                    dnd-list-id="{{item.id}}" 
                    dnd-draggable="item" 
                    dnd-moved="Sorting($index)"
                    dnd-effect-allowed="move"
                    dnd-selected="models.selected = item"
                    ng-class="{'selected': models.selected === item}">
                    <div class="col-md-12 col-xs-12 pad-border pad-color margin-t-a-b">
                        <div class="row">
                            <div class="col-md-6 col-xs-6">
                            <i class="fa fa-align-justify mini-m-l cursor-p" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="row margin-t-a-b">
                            <div class="col-md-6 col-xs-6">
                                <div class="col-md-12 col-xs-12">
                                    Valoración:
                                </div>
                                <div class="col-md-2 col-xs-2">
                                    <button class="btn btn-default xeditable-input-change ellipsis-xeditable" href="" editable-text="item.min_name" onbeforesave="updateSemanticDifferentialSecondIteration($index)">{{ item.min_name || 'empty' }}</button>
                                </div>
                                <div class="col-md-8 col-xs-8">
                                    <rzslider rz-slider-model="item.value" rz-slider-options="{floor: 0, ceil: 10,id: $index, showTicksValues: true, onEnd: processItemSecondIteration}"></rzslider>
                                </div>
                                <div class="col-md-2 col-xs-2">
                                    <button class="btn btn-default xeditable-input-change ellipsis-xeditable" href="" editable-text="item.max_name" onbeforesave="updateSemanticDifferentialSecondIteration($index)">{{ item.max_name || 'empty' }}</button>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-6">
                                <div class="col-md-12 col-xs-12">
                                    Comentario:
                                </div>
                                <div class="col-md-12 col-xs-12">
                                    <textarea rows="5" class="text-area-input" ng-model="item.description" ng-model="self.class" ng-change="updateSemanticDifferentialSecondIteration($index)">{{item.description}}</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <label class="letter-color-title">Respuestas Personalessss</label>
            </div>
            <div class="col-md-12">
                    <div ng-repeat="item in personalEvaluationSecondIteration" 
                    dnd-list-id="{{item.id}}" 
                    dnd-draggable="item" 
                    dnd-moved="Sorting($index)"
                    dnd-effect-allowed="move"
                    dnd-selected="models.selected = item"
                    ng-class="{'selected': models.selected === item}">
                    <div class="col-md-12 col-xs-12 pad-border pad-color margin-t-a-b">
                        <div class="row">
                            <div class="col-md-6 col-xs-6">
                            <i class="fa fa-align-justify mini-m-l cursor-p" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="row margin-t-a-b">
                            <div class="col-md-6 col-xs-6">
                                <div class="col-md-12 col-xs-12">
                                    Valoración:
                                </div>
                                <div class="col-md-2 col-xs-2">
                                    <button class="btn btn-default xeditable-input-change ellipsis-xeditable" href="" editable-text="item.min_name" onbeforesave="updateSecondIterationPersonalEvaluation($index)">{{ item.min_name || 'empty' }}</button>
                                </div>
                                <div class="col-md-8 col-xs-8">
                                    <rzslider rz-slider-model="item.value" rz-slider-options="{floor: 0, ceil: 10,id: $index, showTicksValues: true, onEnd: processItemSecondIterationPersonalEvaluation}"></rzslider>
                                </div>
                                <div class="col-md-2 col-xs-2">
                                    <button class="btn btn-default xeditable-input-change ellipsis-xeditable" href="" editable-text="item.max_name" onbeforesave="updateSecondIterationPersonalEvaluation($index)">{{ item.max_name || 'empty' }}</button>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-6">
                                <div class="col-md-12 col-xs-12">
                                    Comentario:
                                </div>
                                <div class="col-md-12 col-xs-12">
                                    <textarea rows="5" class="text-area-input" ng-model="item.description" ng-model="self.class" ng-change="updateSecondIterationPersonalEvaluation($index)">{{item.description}}</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12" ng-if="finishTheSecondTime && !followLeader && current_iteration_by_team == 2 && !current_final_response_by_team">
            <div class="col-md-12">
                <label class="letter-color-title">Ronda {{current_iteration_by_team}}: Comentario de tus compañeros</label>
            </div>
            <div class="col-md-12">
                <div ng-repeat="comment in secondIterationCommentForLeader">
                    <label>Compañero: {{comment.name}}</label>
                    <textarea rows="5" class="text-area-input" ng-model="comment.comment" ng-disabled="true">{{comment.comment}}</textarea>
                </div>
            </div>
            <div class="col-md-12">
                <hr>
            </div>
            <div class="col-md-12">
                <label class="letter-color-title">Elige respuesta grupal</label>
            </div>
            <div class="col-md-12">
                <div ng-repeat="item in leaderTasksThirdIteration" 
                    dnd-list-id="{{item.id}}" 
                    dnd-draggable="item" 
                    dnd-moved="Sorting($index)"
                    dnd-effect-allowed="move"
                    dnd-selected="models.selected = item"
                    ng-class="{'selected': models.selected === item}">
                    <div class="col-md-12 col-xs-12 pad-border pad-color margin-t-a-b">
                        <div class="row">
                            <div class="col-md-6 col-xs-6">
                            <i class="fa fa-align-justify mini-m-l cursor-p" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="row margin-t-a-b">
                            <div class="col-md-6 col-xs-6">
                                <div class="col-md-12 col-xs-12">
                                    Valoración:
                                </div>
                                <div class="col-md-2 col-xs-2">
                                    <button class="btn btn-default xeditable-input-change ellipsis-xeditable" href="" editable-text="item.min_name" onbeforesave="updateSemanticDifferentialThirdIteration($index)">{{ item.min_name || 'empty' }}</button>
                                </div>
                                <div class="col-md-8 col-xs-8">
                                    <rzslider rz-slider-model="item.value" rz-slider-options="{floor: 0, ceil: 10,id: $index, showTicksValues: true, onEnd: processItemThirdIteration}"></rzslider>
                                </div>
                                <div class="col-md-2 col-xs-2">
                                    <button class="btn btn-default xeditable-input-change ellipsis-xeditable" href="" editable-text="item.max_name" onbeforesave="updateSemanticDifferentialThirdIteration($index)">{{ item.max_name || 'empty' }}</button>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-6">
                                <div class="col-md-12 col-xs-12">
                                    Comentario:
                                </div>
                                <div class="col-md-12 col-xs-12">
                                    <textarea rows="5" class="text-area-input" ng-model="item.description" ng-model="self.class" ng-change="updateSemanticDifferentialThirdIteration($index)">{{item.description}}</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <label class="letter-color-title">Respuestas Personales</label>
            </div>
            <div class="col-md-12">
                    <div ng-repeat="item in personalEvaluationThirdIteration" 
                    dnd-list-id="{{item.id}}" 
                    dnd-draggable="item" 
                    dnd-moved="Sorting($index)"
                    dnd-effect-allowed="move"
                    dnd-selected="models.selected = item"
                    ng-class="{'selected': models.selected === item}">
                    <div class="col-md-12 col-xs-12 pad-border pad-color margin-t-a-b">
                        <div class="row">
                            <div class="col-md-6 col-xs-6">
                            <i class="fa fa-align-justify mini-m-l cursor-p" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="row margin-t-a-b">
                            <div class="col-md-6 col-xs-6">
                                <div class="col-md-12 col-xs-12">
                                    Valoración:
                                </div>
                                <div class="col-md-2 col-xs-2">
                                    <button class="btn btn-default xeditable-input-change ellipsis-xeditable" href="" editable-text="item.min_name" onbeforesave="updateThirdIterationPersonalEvaluation($index)">{{ item.min_name || 'empty' }}</button>
                                </div>
                                <div class="col-md-8 col-xs-8">
                                    <rzslider rz-slider-model="item.value" rz-slider-options="{floor: 0, ceil: 10,id: $index, showTicksValues: true, onEnd: processItemThirdIterationPersonalEvaluation}"></rzslider>
                                </div>
                                <div class="col-md-2 col-xs-2">
                                    <button class="btn btn-default xeditable-input-change ellipsis-xeditable" href="" editable-text="item.max_name" onbeforesave="updateThirdIterationPersonalEvaluation($index)">{{ item.max_name || 'empty' }}</button>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-6">
                                <div class="col-md-12 col-xs-12">
                                    Comentario:
                                </div>
                                <div class="col-md-12 col-xs-12">
                                    <textarea rows="5" class="text-area-input" ng-model="item.description" ng-model="self.class" ng-change="updateThirdIterationPersonalEvaluation($index)">{{item.description}}</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12" ng-show="current_iteration_by_team == 2 && !followLeader && !finishTheSecondTime">
            <div class="col-md-12">
                <label class="letter-color-title">Esperando comentarios de tus compañerosx </label>
            </div>
            <div class="col-md-12">
                <strong>
                    <i class="fa fa-clock-o fa-5" aria-hidden="true"></i>
                    <span>
                        Tus compañeros de grupo están agregando sus comentarios sobre la respuesta grupal. Una vez que todos envíen sus comentarios, podrás leerlos y cambiar la respuesta grupal si así lo estimas conveniente.
                    </span>
                </strong>
            </div>
            <div class="col-md-12 text-center">
                    <img width="500" height="500" title="" alt="" src="https://media3.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy-preview.gif" />
            </div>
        </div>
        <div class="col-md-12" ng-show="user_is_done">
            <div class="col-md-12">
                <label class="letter-color-title">Esperando a que el lider de por finalizada la actividad.</label>
            </div>
            <div class="col-md-12">
                <strong>
                    <i class="fa fa-clock-o fa-5" aria-hidden="true"></i>
                    <span>
                        Se debe esperar a que el lider de por finalizada la actividad.
                    </span>
                </strong>
            </div>
            <div class="col-md-12 text-center">
                    <img width="500" height="500" title="" alt="" src="https://media3.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy-preview.gif" />
            </div>
        </div>
        <div ng-show="current_final_response_by_team && followLeader && current_waiting_partners_by_team && !user_is_done" class="col-md-12">
            <div class="col-md-12">
                <label class="letter-color-title">Qué tan de acuerdo estas con la respuesta grupal?</label>
            </div>
            <div class="col-md-12">
                <form name="myForm">
                    <label>
                        <input type="radio" ng-model="final_response_value" value="de_acuerdo">
                        De acuerdo
                    </label><br/>
                    <label>
                        <input type="radio" ng-model="final_response_value" value="parcialmente_de_acuerdo">
                        Parcialmente de acuerdo
                    </label><br/>
                    <label>
                        <input type="radio" ng-model="final_response_value" value="no_de_acuerdo">
                        No de acuerdo
                    </label><br/>
                </form>
                <br/>
            </div>
            <div class="col-md-12">
                <label class="letter-color-title">Respuesta general</label>
            </div>
            <div class="col-md-12">
                <div ng-repeat="item in leaderTasksThirdIteration" 
                    dnd-list-id="{{item.id}}" 
                    dnd-draggable="item" 
                    dnd-moved="Sorting($index)"
                    dnd-effect-allowed="move"
                    dnd-selected="models.selected = item"
                    ng-class="{'selected': models.selected === item}">
                    <div class="col-md-12 col-xs-12 pad-border pad-color margin-t-a-b">
                        <div class="row">
                            <div class="col-md-6 col-xs-6">
                            <i class="fa fa-align-justify mini-m-l cursor-p" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="row margin-t-a-b">
                            <div class="col-md-6 col-xs-6">
                                <div class="col-md-12 col-xs-12">
                                    Valoración:
                                </div>
                                <div class="col-md-2 col-xs-2">
                                    <button ng-disabled="true" class="btn btn-default xeditable-input-change ellipsis-xeditable" href="" editable-text="item.min_name" onbeforesave="updateSemanticDifferentialThirdIteration($index)">{{ item.min_name || 'empty' }}</button>
                                </div>
                                <div class="col-md-8 col-xs-8">
                                    <rzslider rz-slider-model="item.value" rz-slider-options="{floor: 0, ceil: 10,id: $index, showTicksValues: true, onEnd: processItemThirdIteration, disabled: true}"></rzslider>
                                </div>
                                <div class="col-md-2 col-xs-2">
                                    <button ng-disabled="true" class="btn btn-default xeditable-input-change ellipsis-xeditable" href="" editable-text="item.max_name" onbeforesave="updateSemanticDifferentialThirdIteration($index)">{{ item.max_name || 'empty' }}</button>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-6">
                                <div class="col-md-12 col-xs-12">
                                    Comentario:
                                </div>
                                <div class="col-md-12 col-xs-12">
                                    <textarea ng-disabled="true" rows="5" class="text-area-input" ng-model="item.description" ng-model="self.class" ng-change="updateSemanticDifferentialThirdIteration($index)">{{item.description}}</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <label class="letter-color-title">Respuestas personales</label>
            </div>
            <div class="col-md-12">
                <div ng-repeat="item in personalEvaluationThirdIteration" 
                    dnd-list-id="{{item.id}}" 
                    dnd-draggable="item" 
                    dnd-moved="Sorting($index)"
                    dnd-effect-allowed="move"
                    dnd-selected="models.selected = item"
                    ng-class="{'selected': models.selected === item}">
                    <div class="col-md-12 col-xs-12 pad-border pad-color margin-t-a-b">
                        <div class="row">
                            <div class="col-md-6 col-xs-6">
                            <i class="fa fa-align-justify mini-m-l cursor-p" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="row margin-t-a-b">
                            <div class="col-md-6 col-xs-6">
                                <div class="col-md-12 col-xs-12">
                                    Valoración:
                                </div>
                                <div class="col-md-2 col-xs-2">
                                    <button ng-disabled="true" class="btn btn-default xeditable-input-change ellipsis-xeditable" href="" editable-text="item.min_name" onbeforesave="updateThirdIterationPersonalEvaluation($index)">{{ item.min_name || 'empty' }}</button>
                                </div>
                                <div class="col-md-8 col-xs-8">
                                    <rzslider rz-slider-model="item.value" rz-slider-options="{floor: 0, ceil: 10,id: $index, showTicksValues: true, onEnd: processItemThirdIterationPersonalEvaluation, disabled: true}"></rzslider>
                                </div>
                                <div class="col-md-2 col-xs-2">
                                    <button ng-disabled="true" class="btn btn-default xeditable-input-change ellipsis-xeditable" href="" editable-text="item.max_name" onbeforesave="updateThirdIterationPersonalEvaluation($index)">{{ item.max_name || 'empty' }}</button>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-6">
                                <div class="col-md-12 col-xs-12">
                                    Comentario:
                                </div>
                                <div class="col-md-12 col-xs-12">
                                    <textarea ng-disabled="true" rows="5" class="text-area-input" ng-model="item.description" ng-model="self.class" ng-change="updateThirdIterationPersonalEvaluation($index)">{{item.description}}</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-show="iteration==4">
        <div class="col-md-12">
            <label class="letter-color-title">Respuesta grupal</label>
        </div>
        <div class="col-md-12">
            <div ng-repeat="item in leaderTasksThirdIteration" 
                dnd-list-id="{{item.id}}" 
                dnd-draggable="item" 
                dnd-moved="Sorting($index)"
                dnd-effect-allowed="move"
                dnd-selected="models.selected = item"
                ng-class="{'selected': models.selected === item}">
            <div class="col-md-12 col-xs-12 pad-border pad-color margin-t-a-b">
                    <div class="row">
                        <div class="col-md-6 col-xs-6">
                        <i class="fa fa-align-justify mini-m-l cursor-p" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="row margin-t-a-b">
                        <div class="col-md-6 col-xs-6">
                            <div class="col-md-12 col-xs-12">
                                Valoración:
                            </div>
                            <div class="col-md-2 col-xs-2">
                                <button ng-disabled="true" class="btn btn-default xeditable-input-change ellipsis-xeditable" href="" editable-text="item.min_name" onbeforesave="updateThirdIterationPersonalEvaluation($index)">{{ item.min_name || 'empty' }}</button>
                            </div>
                            <div class="col-md-8 col-xs-8">
                                <rzslider rz-slider-model="item.value" rz-slider-options="{floor: 0, ceil: 10,id: $index, showTicksValues: true, onEnd: processItemThirdIterationPersonalEvaluation, disabled: true}"></rzslider>
                            </div>
                            <div class="col-md-2 col-xs-2">
                                <button ng-disabled="true" class="btn btn-default xeditable-input-change ellipsis-xeditable" href="" editable-text="item.max_name" onbeforesave="updateThirdIterationPersonalEvaluation($index)">{{ item.max_name || 'empty' }}</button>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-6">
                            <div class="col-md-12 col-xs-12">
                                Comentario:
                            </div>
                            <div class="col-md-12 col-xs-12">
                                <textarea ng-disabled="true" rows="5" class="text-area-input" ng-model="item.description" ng-model="self.class" ng-change="updateThirdIterationPersonalEvaluation($index)">{{item.description}}</textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <label class="letter-color-title">Respuesta personal aceptada</label>
        </div>
        <div class="col-md-12">
            <div ng-repeat="item in personalIterationLast" 
                dnd-list-id="{{item.id}}" 
                dnd-draggable="item" 
                dnd-moved="Sorting($index)"
                dnd-effect-allowed="move"
                dnd-selected="models.selected = item"
                ng-class="{'selected': models.selected === item}">
            <div class="col-md-12 col-xs-12 pad-border pad-color margin-t-a-b">
                    <div class="row">
                        <div class="col-md-6 col-xs-6">
                        <i class="fa fa-align-justify mini-m-l cursor-p" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="row margin-t-a-b">
                        <div class="col-md-6 col-xs-6">
                            <div class="col-md-12 col-xs-12">
                                Valoración:
                            </div>
                            <div class="col-md-2 col-xs-2">
                                <button ng-disabled="true" class="btn btn-default xeditable-input-change ellipsis-xeditable" href="" editable-text="item.min_name" onbeforesave="updateThirdIterationPersonalEvaluation($index)">{{ item.min_name || 'empty' }}</button>
                            </div>
                            <div class="col-md-8 col-xs-8">
                                <rzslider rz-slider-model="item.value" rz-slider-options="{floor: 0, ceil: 10,id: $index, showTicksValues: true, onEnd: processItemThirdIterationPersonalEvaluation, disabled: true}"></rzslider>
                            </div>
                            <div class="col-md-2 col-xs-2">
                                <button ng-disabled="true" class="btn btn-default xeditable-input-change ellipsis-xeditable" href="" editable-text="item.max_name" onbeforesave="updateThirdIterationPersonalEvaluation($index)">{{ item.max_name || 'empty' }}</button>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-6">
                            <div class="col-md-12 col-xs-12">
                                Comentario:
                            </div>
                            <div class="col-md-12 col-xs-12">
                                <textarea ng-disabled="true" rows="5" class="text-area-input" ng-model="item.description" ng-model="self.class" ng-change="updateThirdIterationPersonalEvaluation($index)">{{item.description}}</textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <hr>
        </div>
        <div class="col-md-12">
            <label class="letter-color-title">Tu respuesta</label>
        </div>
        <div class="col-md-12">
        <div ng-repeat="item in anonymous_semantic_discussion" 
                dnd-list-id="{{item.id}}" 
                dnd-draggable="item" 
                dnd-moved="Sorting($index)"
                dnd-effect-allowed="move"
                dnd-selected="models.selected = item"
                ng-class="{'selected': models.selected === item}">
            <div class="col-md-12 col-xs-12 pad-border pad-color margin-t-a-b">
                    <div class="row">
                        <div class="col-md-6 col-xs-6">
                        <i class="fa fa-align-justify mini-m-l cursor-p" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="row margin-t-a-b">
                        <div class="col-md-6 col-xs-6">
                            <div class="col-md-12 col-xs-12">
                                Valoración:
                            </div>
                            <div class="col-md-2 col-xs-2">
                                <button ng-disabled="true" class="btn btn-default xeditable-input-change ellipsis-xeditable" href="" editable-text="item.min_name" onbeforesave="updateThirdIterationPersonalEvaluation($index)">{{ item.min_name || 'empty' }}</button>
                            </div>
                            <div class="col-md-8 col-xs-8">
                                <rzslider rz-slider-model="item.value" rz-slider-options="{floor: 0, ceil: 10,id: $index, showTicksValues: true, onEnd: processItemThirdIterationPersonalEvaluation, disabled: true}"></rzslider>
                            </div>
                            <div class="col-md-2 col-xs-2">
                                <button ng-disabled="true" class="btn btn-default xeditable-input-change ellipsis-xeditable" href="" editable-text="item.max_name" onbeforesave="updateThirdIterationPersonalEvaluation($index)">{{ item.max_name || 'empty' }}</button>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-6">
                            <div class="col-md-12 col-xs-12">
                                Comentario:
                            </div>
                            <div class="col-md-12 col-xs-12">
                                <textarea ng-disabled="true" rows="5" class="text-area-input" ng-model="item.description" ng-model="self.class" ng-change="updateThirdIterationPersonalEvaluation($index)">{{item.description}}</textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <label class="letter-color-title">Tu personal</label>
        </div>
        <div class="col-md-12">
                <div ng-repeat="item in discussion_personal" 
                dnd-list-id="{{item.id}}" 
                dnd-draggable="item" 
                dnd-moved="Sorting($index)"
                dnd-effect-allowed="move"
                dnd-selected="models.selected = item"
                ng-class="{'selected': models.selected === item}">
            <div class="col-md-12 col-xs-12 pad-border pad-color margin-t-a-b">
                    <div class="row">
                        <div class="col-md-6 col-xs-6">
                        <i class="fa fa-align-justify mini-m-l cursor-p" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="row margin-t-a-b">
                        <div class="col-md-6 col-xs-6">
                            <div class="col-md-12 col-xs-12">
                                Valoración:
                            </div>
                            <div class="col-md-2 col-xs-2">
                                <button ng-disabled="true" class="btn btn-default xeditable-input-change ellipsis-xeditable" href="" editable-text="item.min_name" onbeforesave="updateThirdIterationPersonalEvaluation($index)">{{ item.min_name || 'empty' }}</button>
                            </div>
                            <div class="col-md-8 col-xs-8">
                                <rzslider rz-slider-model="item.value" rz-slider-options="{floor: 0, ceil: 10,id: $index, showTicksValues: true, onEnd: processItemThirdIterationPersonalEvaluation, disabled: true}"></rzslider>
                            </div>
                            <div class="col-md-2 col-xs-2">
                                <button ng-disabled="true" class="btn btn-default xeditable-input-change ellipsis-xeditable" href="" editable-text="item.max_name" onbeforesave="updateThirdIterationPersonalEvaluation($index)">{{ item.max_name || 'empty' }}</button>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-6">
                            <div class="col-md-12 col-xs-12">
                                Comentario:
                            </div>
                            <div class="col-md-12 col-xs-12">
                                <textarea ng-disabled="true" rows="5" class="text-area-input" ng-model="item.description" ng-model="self.class" ng-change="updateThirdIterationPersonalEvaluation($index)">{{item.description}}</textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    

    <div class="container" ng-show="iteration==1">
        <button class="pull-right btn btn-default button-widthss" ng-click="ngShowhideFun('answers')" ng-class="{'label-warning hover-button': ngShowAnswer}">Respuestas</button>
        <button class="pull-right btn btn-default button-widthss" ng-click="ngShowhideFun('reading')" ng-class="{'label-warning hover-button': ngShowReading}">Lectura</button>
    </div>

    <div class="row" ng-show="iteration==0 || (iteration == 1 && ngShowReading)">
        <div id="pdf-container" class="pdf-content col-sm-12 col-md-12">
            <div class="centered">
                <div ng-repeat="doc in documents" id="pdf-canvas-{{$index}}" class="centered" ng-show="$index==selectedDocument"></div>
            </div>
        </div>
        <!--
        <div class="col-sm-3 side-bar">
            <h3>Instrucciones:</h3>
            <div ng-bind="instructions[iteration]"></div>
            <hr>
            <div ng-hide="iteration == 0">
            <h3>Ideas Fuerza:</h3>
            <div class="row">
                <div class="btn-group center-block w250" ng-show="tabOptions.length > 1">
                    <button class="form-control btn btn-default" ng-repeat="x in tabOptions" ng-bind="x.name"
                            ng-class="{active: x.idx==sideTab}" ng-click="setTab(x.idx)">
                    </button>
                </div>
            </div>
            <div class="text-gray center-block text-center" ng-show="numPages>0">Cargando...</div>
            <div class="y-scrollable" ui-tree data-max-depth="1">
                <ul class="full-height" ui-tree-nodes="" ng-model="selections" ng-show="sideTab == 0">
                    <span class="text-gray center-block text-center" ng-show="selections.length > 0">Más importante</span>
                    <li class="row idea-item" ng-repeat="sel in selections" ui-tree-node ng-class="{'bg-warning':reportIdeas[sel.id]}">
                        <div class="col-xs-1">
                            <span ui-tree-handle ng-if="!followLeader && !writingReport">:::</span>
                            <a ng-click="deleteIdea(sel,$index)" class="margin-top-24" ng-if="sel.expanded && !followLeader && !writingReport && !finished"><h4><i class="fa fa-trash"></i></h4></a>
                        </div>
                        <div class="col-xs-10">
                        <a ng-click="sel.expanded=!sel.expanded" class="spaced pull-right">
                            <i class="fa" ng-class="{'fa-plus': !sel.expanded, 'fa-minus': sel.expanded}"></i>
                        </a>
                        <strong ng-bind="sel.text" ng-click="goToSerial(sel.text,sel.document)"></strong>
                        <span class="text-gray"> - {{documents[sel.document].title}}</span>
                        <div class="input-group" ng-show="sel.expanded">
                            <textarea class="form-control" ng-model="sel.comment" ng-change="selTextChange(sel)" ng-disabled="writingReport || followLeader || finished"></textarea>
                            <a class="input-group-addon btn btn-default" ng-click="sendIdea(sel)" ng-class="{'bg-lightgreen': sel.status=='saved', 'bg-lightorange': sel.status=='dirty'}" ng-disabled="writingReport || followLeader || finished">
                                <i class="fa fa-send"></i>
                            </a>
                        </div>
                        <a ng-show="sel.expanded && writingReport && !finished" ng-click="toggleUseIdea(sel.id)"><i class="fa fa-star"></i> Marcar idea usada en respuesta final</a>
                        </div>
                    </li>
                    <span class="text-gray center-block text-center" ng-show="selections.length > 0">Menos importante</span>
                    <button class="form-control btn btn-sm btn-default margin-top-8" ng-disabled="writingReport || followLeader || selections.length >= documents.length * 3 || finished" ng-click="selectText()" ng-show="iteration > 0">
                        <i class="fa fa-plus"></i> Nueva Idea Fuerza
                    </button>
                </ul>
            </div>
            <div>
                <div ng-show="iteration > 1 && sideTab == 1">
                    <h4>Ideas Individual:</h4>
                    <div ng-repeat="(uid, sels) in ansIter1">
                        <h5 ng-show="uid != myUid">Anónimo {{uid}}: </h5>
                        <h5 ng-hide="uid != myUid">Mi respuesta: </h5>
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="sel in sels" ng-class="{'bg-warning':sel.copied || reportIdeas[sel.id]}">
                                <a ng-click="sel.expanded=!sel.expanded" class="spaced pull-right"><i class="fa fa-plus"></i></a>
                                <strong ng-bind="sel.content" ng-click="goToSerial(sel.content,docIdx[sel.docid],'.highlight-secondary')"></strong>
                                <span class="text-gray"> - {{documents[docIdx[sel.docid]].title}}</span>
                                <div ng-show="sel.expanded" ng-bind="sel.descr"></div>
                                <a ng-show="sel.expanded && !followLeader && !writingReport && !finished" ng-click="copyIdea(sel)"><i class="fa fa-copy"></i> Copiar a Actual</a>
                                <a ng-show="sel.expanded && writingReport && !finished" ng-click="toggleUseIdea(sel.id)"><i class="fa fa-star"></i> Marcar idea usada en respuesta final</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div ng-show="iteration > 2 && sideTab == 2">
                    <h4>Ideas Grupal Anónimo:</h4>
                    <div ng-repeat="(uid, sels) in ansIter2">
                        <h5 ng-show="uid != myUid">Anónimo {{uid}}: </h5>
                        <h5 ng-hide="uid != myUid">Mi respuesta: </h5>
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="sel in sels" ng-class="{'bg-warning':sel.copied || reportIdeas[sel.id]}">
                                <a ng-click="sel.expanded=!sel.expanded" class="spaced pull-right"><i class="fa fa-plus"></i></a>
                                <strong ng-bind="sel.content" ng-click="goToSerial(sel.content,docIdx[sel.docid],'.highlight-secondary')"></strong>
                                <span class="text-gray"> - {{documents[docIdx[sel.docid]].title}}</span>
                                <div ng-show="sel.expanded" ng-bind="sel.descr"></div>
                                <a ng-show="sel.expanded && !followLeader && !writingReport && !finished" ng-click="copyIdea(sel)"><i class="fa fa-copy"></i> Copiar a Actual</a>
                                <a ng-show="sel.expanded && writingReport && !finished" ng-click="toggleUseIdea(sel.id)"><i class="fa fa-star"></i> Marcar idea usada en respuesta final</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            </div>
        </div>
        -->
    </div>

    <div class="" ng-show="(iteration == 1 && ngShowAnswer)">
      <h2 ng-bind="item.length"></h2>
      <div ng-repeat="item in Tasks" 
                dnd-list-id="{{item.id}}" 
                dnd-draggable="item" 
                dnd-moved="Sorting($index)"
                dnd-effect-allowed="move"
                dnd-selected="models.selected = item"
                ng-class="{'selected': models.selected === item}">
            <div class="col-md-12 col-xs-12 pad-border pad-color margin-t-a-b">
                <div class="row">
                    <div class="col-md-6 col-xs-6">
                    <i class="fa fa-align-justify mini-m-l cursor-p" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="row margin-t-a-b">
                <div class="col-md-6 col-xs-6">
                    <div class="col-md-12 col-xs-12">
                    Valoración:
                    </div>
                    <div class="col-md-2 col-xs-2">
                        <button class="btn btn-default xeditable-input-change ellipsis-xeditable" disabled="true" href="" editable-text="item.min_name" onbeforesave="updateSemanticDifferentialUser($index)">{{ item.min_name || 'empty' }}</button>
                    </div>
                    <div class="col-md-8 col-xs-8">
                        <rzslider rz-slider-model="item.value" rz-slider-options="{floor: 0, ceil: 10,id: $index, showTicksValues: true, onEnd: processItem}"></rzslider>
                    </div>
                    <div class="col-md-2 col-xs-2">
                        <button class="btn btn-default xeditable-input-change ellipsis-xeditable" disabled="true" href="" editable-text="item.max_name" onbeforesave="updateSemanticDifferentialUser($index)">{{ item.max_name || 'empty' }}</button>
                    </div>
                </div>
                <div class="col-md-6 col-xs-6">
                    <div class="col-md-12 col-xs-12">
                        Comentario:
                    </div>
                    <div class="col-md-12 col-xs-12">
                        <textarea rows="5" class="text-area-input" ng-model="item.description" ng-model="self.class" ng-change="updateSemanticDifferentialUser($index)">{{item.description}}</textarea>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <button class="btn bg-principal" ng-click="createPersonalEvaluation(sesId ,myUid)" ng-disabled="evaluationPersonal.length >=1">Agregar evaluación personal</button>
        <div ng-repeat="item in evaluationPersonal" 
                dnd-list-id="{{item.id}}" 
                dnd-draggable="item" 
                dnd-moved="Sorting($index)"
                dnd-effect-allowed="move"
                dnd-selected="models.selected = item"
                ng-class="{'selected': models.selected === item}">
            <div class="col-md-12 col-xs-12 pad-border pad-color margin-t-a-b">
                <div class="row">
                    <div class="col-md-6 col-xs-6">
                        <i class="fa fa-align-justify mini-m-l cursor-p" aria-hidden="true"></i>
                    </div>
                    <div class="col-md-6 col-xs-6">
                        <i class="fa fa-trash pull-right mini-m-r mini-f-z cursor-p" ng-click="removeEvaluationPersonal(item.id,sesId)" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="row margin-t-a-b">
                <div class="col-md-6 col-xs-6">
                    <div class="col-md-12 col-xs-12">
                    Valoración:
                    </div>
                    <div class="col-md-2 col-xs-2">
                        <button class="btn btn-default xeditable-input-change ellipsis-xeditable" href="" editable-text="item.min_name" onbeforesave="updateEvaluationPersonal($index)">{{ item.min_name || 'empty' }}</button>
                    </div>
                    <div class="col-md-8 col-xs-8">
                        <rzslider rz-slider-model="item.value" rz-slider-options="{floor: 0, ceil: 10,id: $index, showTicksValues: true, onEnd: processItemPersonal}"></rzslider>
                    </div>
                    <div class="col-md-2 col-xs-2">
                        <button class="btn btn-default xeditable-input-change ellipsis-xeditable" href="" editable-text="item.max_name" onbeforesave="updateEvaluationPersonal($index)">{{ item.max_name || 'empty' }}</button>
                    </div>
                </div>
                <div class="col-md-6 col-xs-6">
                    <div class="col-md-12 col-xs-12">
                        Comentario:
                    </div>
                    <div class="col-md-12 col-xs-12">
                        <textarea rows="5" class="text-area-input" ng-model="item.description" ng-model="self.class" ng-change="updateEvaluationPersonal($index)">{{item.description}}</textarea>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>

    <div class="" ng-show="(iteration == 2 && ngShowAnswer)">
        <h2 ng-bind="item.length"></h2>
      <div ng-repeat="item in anonymousTasks" 
                dnd-list-id="{{item.id}}" 
                dnd-draggable="item" 
                dnd-moved="Sorting($index)"
                dnd-effect-allowed="move"
                dnd-selected="models.selected = item"
                ng-class="{'selected': models.selected === item}">
            <div class="col-md-12 col-xs-12 pad-border pad-color margin-t-a-b">
                <div class="row">
                    <div class="col-md-6 col-xs-6">
                    <i class="fa fa-align-justify mini-m-l cursor-p" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="row margin-t-a-b">
                <div class="col-md-6 col-xs-6">
                    <div class="col-md-12 col-xs-12">
                    Valoración:
                    </div>
                    <div class="col-md-2 col-xs-2">
                        <button class="btn btn-default xeditable-input-change ellipsis-xeditable" disabled="true" href="" editable-text="item.min_name" onbeforesave="updateAnonymousSemanticDifferentialUser($index)">{{ item.min_name || 'empty' }}</button>
                    </div>
                    <div class="col-md-8 col-xs-8">
                        <rzslider rz-slider-model="item.value" rz-slider-options="{floor: 0, ceil: 10,id: $index, showTicksValues: true, onEnd: processItemAnonymous}"></rzslider>
                    </div>
                    <div class="col-md-2 col-xs-2">
                        <button class="btn btn-default xeditable-input-change ellipsis-xeditable" disabled="true" href="" editable-text="item.max_name" onbeforesave="updateAnonymousSemanticDifferentialUser($index)">{{ item.max_name || 'empty' }}</button>
                    </div>
                </div>
                <div class="col-md-6 col-xs-6">
                    <div class="col-md-12 col-xs-12">
                        Comentario:
                    </div>
                    <div class="col-md-12 col-xs-12">
                        <textarea rows="5" class="text-area-input" ng-model="item.description" ng-model="self.class" ng-change="updateAnonymousSemanticDifferentialUser($index)">{{item.description}}</textarea>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div class="margin-t-p">
            <div class="col-md-4">
                <div class="col-md-6">
                    <strong class="letter-color-title simple-margin-left">Respuesta de: </strong>
                </div>
                <div class="col-md-6">
                    <select class="form-control" ng-options="x.id as 'Compañero: '+x.position for x in iterationUsers" ng-model="selectedUser" ng-change="select_semantic_by_users_and_group(selectedUser, sesId)"></select>
                </div>
            </div>
        </div>
        <div ng-repeat="item in semanticFilterInGroup" 
                dnd-list-id="{{item.id}}" 
                dnd-draggable="item" 
                dnd-moved="Sorting($index)"
                dnd-effect-allowed="move"
                dnd-selected="models.selected = item"
                ng-class="{'selected': models.selected === item}">
            <div class="col-md-12 col-xs-12 pad-border pad-color margin-t-a-b">
                <div class="row">
                    <div class="col-md-6 col-xs-6">
                    <i class="fa fa-align-justify mini-m-l cursor-p" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="row margin-t-a-b">
                <div class="col-md-6 col-xs-6">
                    <div class="col-md-12 col-xs-12">
                    Valoración:
                    </div>
                    <div class="col-md-2 col-xs-2">
                        <button ng-disabled="true" class="btn btn-default xeditable-input-change ellipsis-xeditable" href="" editable-text="item.min_name" onbeforesave="updateSemanticDifferentialUser($index)">{{ item.min_name || 'empty' }}</button>
                    </div>
                    <div class="col-md-8 col-xs-8">
                        <rzslider rz-slider-model="item.value" rz-slider-options="{floor: 0, ceil: 10,id: $index, showTicksValues: true, disabled: true}"></rzslider>
                    </div>
                    <div class="col-md-2 col-xs-2">
                        <button ng-disabled="true" class="btn btn-default xeditable-input-change ellipsis-xeditable" href="" editable-text="item.max_name" onbeforesave="updateSemanticDifferentialUser($index)">{{ item.max_name || 'empty' }}</button>
                    </div>
                </div>
                <div class="col-md-6 col-xs-6">
                    <div class="col-md-12 col-xs-12">
                        Comentario:
                    </div>
                    <div class="col-md-12 col-xs-12">
                        <textarea ng-disabled="true" rows="5" class="text-area-input" ng-model="item.description" ng-model="self.class" ng-change="updateSemanticDifferentialUser($index)">{{item.description}}</textarea>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12" ng-show="personalEvaluationByUser.length > 0">
        respuesta personal
        <div ng-repeat="item in personalEvaluationByUser" 
                    dnd-list-id="{{item.id}}" 
                    dnd-draggable="item" 
                    dnd-moved="Sorting($index)"
                    dnd-effect-allowed="move"
                    dnd-selected="models.selected = item"
                    ng-class="{'selected': models.selected === item}">
                <div class="col-md-12 col-xs-12 pad-border pad-color margin-t-a-b">
                    <div class="row">
                        <div class="col-md-6 col-xs-6">
                        <i class="fa fa-align-justify mini-m-l cursor-p" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="row margin-t-a-b">
                        <div class="col-md-6 col-xs-6">
                            <div class="col-md-12 col-xs-12">
                            Valoración:
                            </div>
                            <div class="col-md-2 col-xs-2">
                                <button ng-disabled="true" class="btn btn-default xeditable-input-change ellipsis-xeditable" href="" editable-text="item.min_name" onbeforesave="updateSemanticDifferentialUser($index)">{{ item.min_name || 'empty' }}</button>
                            </div>
                            <div class="col-md-8 col-xs-8">
                                <rzslider rz-slider-model="item.value" rz-slider-options="{floor: 0, ceil: 10,id: $index, showTicksValues: true, disabled: true}"></rzslider>
                            </div>
                            <div class="col-md-2 col-xs-2">
                                <button ng-disabled="true" class="btn btn-default xeditable-input-change ellipsis-xeditable" href="" editable-text="item.max_name" onbeforesave="updateSemanticDifferentialUser($index)">{{ item.max_name || 'empty' }}</button>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-6">
                            <div class="col-md-12 col-xs-12">
                                Comentario:
                            </div>
                            <div class="col-md-12 col-xs-12">
                                <textarea ng-disabled="true" rows="5" class="text-area-input" ng-model="item.description" ng-model="self.class" ng-change="updateSemanticDifferentialUser($index)">{{item.description}}</textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

</div>

</body>
</html>